pip==22.3.1
attr==0.3.2
attrs==22.1.0
ConfigParser==5.3.0
cryptography==38.0.1
Cython==0.29.32
dl==0.1.0
docutils==0.19
h5py==3.7.0
HTMLParser==0.0.2
ipython
ipywidgets==8.0.3
Jinja2==3.1.2
keras==2.11.0
keyring==23.11.0
lockfile==0.12.2
nltk==3.7
numpy
opencv_python==4.6.0.66
pandas
Pillow
protobuf==4.21.11
pyOpenSSL==22.1.0
pyquery==1.4.3
railroad==0.5.0
scikit_learn
Sphinx==5.3.0
streamlit==1.15.2
tensorflow
tensorflow_intel==2.11.0
tornado==6.2
trove_classifiers==2022.12.1
truststore==0.5.0
urllib3_secure_extra==0.1.0
whois==0.9.18
xmlrpclib==1.0.1
